* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    font-size: 1.05rem;
}

@font-face {
    font-family: "Formula";
    src: url(../assets/formula1.ttf);
}

/* 
    font-family: 'Roboto', sans-serif;

    font-family: 'Work Sans', sans-serif;
*/
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #15151e;
    outline: none;
}



a:active {
    background: red;
}

.body {
    height: auto;
    background-color: #15151d;
    background-size: contain;
}

/* Header */

.header {
    background-color: #ff1e00;
    padding: 1rem;
}

.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.marca__titulo {
    font-size: 1.5rem;
    color: #15151e;
    font-family: 'Formula', sans-serif;
}

.nav__lista {
    display: flex;
    justify-content: space-around;
    gap: 0.3rem;
    padding: 2rem;
}

.nav__item {
    border: solid black;
    padding: 1px 2px;
    border-radius: 10px;
    background-color: #fdfffc;

}

.nav__item:hover {
    background-color: #db222a;
    transform: scale(1.2);
    transition-duration: 1s;
}

@media (min-width: 1200px) {
    .header {
        background-color: #ff1e00;
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .marca__titulo {
        font-size: 4rem;
    }
}

/* PORTADA */
.portada {
    height: 50vh;
    background-image: url(../img/portada2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: anomacion-portada;
    animation-duration: 1s, 3s;
}

@keyframes anomacion-portada {
    0% {
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }

    54% {
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }

    100% {
        transform: translateZ(0) rotateY(0);
    }
}

/* INFORMACION */


.info__titulo {
    font-size: 2.5rem;
    font-family: 'Formula', sans-serif;
    text-decoration: underline;
    text-align: center;
    color: #ff1e00
}

.info__parrafo {
    font-size: 1rem;
    color: #fdfffc;
    background-color: #15151e;
    justify-content: center;
    padding: 1rem;
}

.info__video {
    margin: 5 auto;
    width: 100%;
    display: block;
    justify-content: center;
}

/* Seccion Noticias */

.noticia__titu--principal {
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Formula', sans-serif;
    text-decoration: underline;
    text-align: center;
    color: #ff1e00
}

/* Noticia item */

.noticia {
    padding: 1rem;

}

.noticia__titu--principal {
    font-size: 2.5rem;
    text-decoration: underline;
    color: #ff1e00
}

.noticia__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 55px;
    margin: 1rem;
    justify-content: center;
}

.noticia__item {
    background: rgb(255, 255, 255);
    background: linear-gradient(169deg, rgba(255, 255, 255, 1) 30%, rgba(244, 0, 0, 1) 88%);
    width: 300px;
    height: 350px;
    border: 3px inset red;
    box-shadow: 0px 2px 8px white;
    padding: 0.5rem;
    border-radius: 25px;
}

.noticia__item:hover {
    transform: scale(1.1, 1.2);
    transition-duration: 1.5s;
}

.noticia__img {
    width: 100%;
    border: 5px outset #031926;
}

@media (min-width: 1200px) {
    .noticia__box {
        height: 150vh;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 30% 30% 30% 30%
    }

    .noticia__item {
        width: auto;
        height: auto;
    }


    .noticia__img {
        width: 100%;
        height: 50%;
    }

    .primer-noticia {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .noticia__img1 {
        width: 70%;
        height: 80%;
    }

    .segunda-noticia {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .noticia__img2 {
        width: 70%;
        height: 80%;
    }
}

.footer {
    background-color: #ff1e00;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.footer-titu {
    font-family: 'Formula', sans-serif;
    font-size: 1.5rem;
}

.seccion__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contacto {
    border: solid black;
    padding: 1px 2px;
    border-radius: 15px;
    background-color: #fdfffc;
}

.footer-redes a {
    font-size: 2.5;
}


/* PAGE DE ESCUDERIAS */

.portada__escuderias {
    height: 50vh;
    background-image: url(../img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: animacion-portada-escu;
    animation-duration: 1s, 3s;
}

@keyframes animacion-portada-escu {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

.escuderia__titu--principal {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Formula', sans-serif;
    text-decoration: underline;
    color: #ff1e00
}

.escu {
    padding: 1rem;

}

.escuderia__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 55px;
    margin: 1rem;
    justify-content: center;
}

.escuderia__item {
    background: rgb(255, 255, 255);
    background: linear-gradient(124deg, rgba(255, 255, 255, 1) 46%, rgba(244, 0, 0, 1) 85%);
    width: 800px;
    height: 500px;
    border: 3px inset red;
    box-shadow: 0px 2px 8px white;
    padding: 0.5rem;
    border-radius: 25px;
}

.escuderia__item:hover {
    transform: scale(1.1, 1.2);
    transition-duration: 1.5s;
}

.escuderia__logo {
    width: 45%;
    border: 5px outset #031926;
}

.escuderia__auto {
    width: 50%;
    border: 5px outset #031926;
}

@media (min-width: 1200px) {
    .escuderia__box {
        height: 200vh;
        display: grid;
        overflow: auto;

        grid-template-columns: 45% 45%;
        grid-template-rows: 30% 30% 30% 30% 30%
    }

    .escuderia__item {
        width: auto;
        height: auto;
    }
}

/* PAGE TABLA POSICIONES */

.portada__tabla {
    height: 50vh;
    background-image: url(../img/portada-ferrari.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: animacion-portada-tabla;
    animation-duration: 1s, 3s;
}

@keyframes animacion-portada-tabla {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes animacion-portada-tabla {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.tabla__titu--principal {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Formula', sans-serif;
    text-decoration: underline;
    color: #ff1e00
}

.tabla__titu--secundario {
    font-size: 2rem;
    text-align: center;
    font-family: 'Formula', sans-serif;
    text-decoration: underline;
    color: #ff1e00;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

/* TABLA DESKTOP */

.tabla__desktop {
    width: 100%;
    border-collapse: collapse;
    background-color: #fdfffc;
    padding-bottom: 1rem;
}

.tabla__desktop tr th {
    background-color: #ff1e00;
    border: 3px solid black;
    padding: 15px;
    text-align: center;
}

.tabla__desktop tr td {
    border: 3px solid black;
    padding: 15px;
}

/* TABLA MOBILE */

.tabla__mobile {
    display: none;
    width: 100%;
    background-color: #fdfffc;
    padding-bottom: 1rem;
}

.tabla__mobile .fila .columna {
    display: flex;
}

.tabla__mobile .fila .columna .encabezado,
.tabla__mobile .fila .columna .contenido {
    border: 3px solid black;
    border-bottom: none;
    padding: 10px;
}

.tabla__mobile .fila .columna .encabezado {
    width: 40%;
    background-color: #ff1e00;
    font-weight: bold;

}

.tabla__mobile .fila .columna .contenido {
    width: 60%;
}

.tabla__mobile .fila:nth-of-type(even) .columna .contenido {
    background-color: #8d99ae;
}

.tabla__mobile .fila .columna:last-of-type .contenido,
.tabla__mobile .fila .columna:last-of-type .encabezado {
    border-bottom: 3px solid black;
}


@media (max-width: 768px) {
    .tabla__mobile {
        display: block;
    }

    .tabla__desktop {
        display: none;
    }
}



/* Seccion pilotos */

.portada__pilotos {
    height: 55vh;
    font-size: 2rem;
    background-image: url(../img/portada-mercedes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pilotos__titu--principal {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    color: #ff1e00;
    font-family: 'Formula', sans-serif;
}

.pilot {
    padding: 1rem;
}

.pilotos__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    margin: 1rem;

}

.pilotos__item {
    background: rgb(255, 255, 255);
    background: linear-gradient(169deg, rgba(255, 255, 255, 1) 30%, rgba(244, 0, 0, 1) 88%);
    width: 300px;
    height: 380px;
    border: 3px inset red;
    box-shadow: 0px 2px 8px white;
    padding: 0.5rem;
    border-radius: 25px;
}

@media (min-width: 1200px) {
    .pilotos__box {
        height: 145vh;
        display: grid;
        overflow: auto;
        margin: 5rem;
        grid-template-columns: 25% 25%;
        grid-template-rows: 30% 30% 30% 30% 30%
    }

    .pilotos__item {
        width: auto;
        height: auto;
    }
}

/* Seccion contacto */
.contacto__titu--principal {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    color: #ff1e00
}

.cont {
    padding: 1rem;

}

.contacto__descrip {
    font-size: 2rem;
    text-align: center;
    color: #fdfffc;
    padding: 5rem;
}


form {
    margin: 0 auto;
    background-color: #343a40;
    width: 800px;
    padding: 1rem;
    border: 1px solid #CCC;
    border-radius: 1rem;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    padding: 1rem;
    color: #ff1e00;
}

input,
textarea {
    font: 'Work Sans', sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999
}

.enviar-info {
    padding-left: 90px;
}