.info__titulo {
    font-size: 2.5rem;
    font-family: $fuente-f1;
    text-decoration: underline;
    text-align: center;
    color: $color-f1
}

.info__parrafo {
    font-size: 1rem;
    color: #fdfffc;
    background-color: #15151e;
    justify-content: center;
    padding: 1rem;
}

.info__video {
    margin: 5 auto;
    width: 100%;
    display: block;
    justify-content: center;
}

