.pilotos__titu--principal {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    color: #ff1e00;
    font-family: 'Formula', sans-serif;
}

.pilot {
    padding: 1rem;
}
