.tabla__desktop {
    width: 100%;
    border-collapse: collapse;
    background-color: #fdfffc;
    padding-bottom: 1rem;

    & tr th {
        background-color: #ff1e00;
        border: 3px solid black;
        padding: 15px;
        text-align: center;
    }

    & tr td {
        border: 3px solid black;
        padding: 15px;
    }
}

.tabla__mobile {
    display: none;
    width: 100%;
    background-color: #fdfffc;
    padding-bottom: 1rem;

    & .fila .columna {
        display: flex;
    }

    & .fila .columna .encabezado,
    & .fila .columna .contenido {
        border: 3px solid black;
        border-bottom: none;
        padding: 10px;
    }

    & .fila .columna .encabezado {
        width: 40%;
        background-color: #ff1e00;
        font-weight: bold;
    }

    & .fila .columna .contenido {
        width: 60%;
    }

    & .fila:nth-child(even) .columna .contenido{
        background-color: #8d99ae;
    }

    & .fila .columna:last-of-type .contenido, & .fila .columna:last-of-type .encabezado{
        border-bottom: 3px solid black;
    }
}